
.tape {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    border: 2px solid #000;
    width: 1100px;
    height: 70px;

    .tape-head {
        display: flex;
        color: #489;
    }

    .tape-container {
        display: flex;

        .tape-cell {
            text-align: center;
            padding: 5px;
            border-right: 1px solid #000;
        }
    }
}