@use '../../base/variables';

.tm {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .tm-label {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 2rem;
            padding: 5px 15px 5px 15px;

            border-radius: 4px;
            background-color: variables.$color--blue;

            &.halted {
                background-color: variables.$color--red;
            }
        }
    }

    .tapes {
        display: flex;
        flex-direction: column;
        gap: 30;
        
        .tape-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            .tape-label {
                font-size: 1.5rem;
            }
        }

    }

    .state-container {
        width: min-content;
        min-width: 200px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .label {
            font-size: 1rem;
            color: variables.$color--text-gray;
        }

        .current-state {
            font-size: 2.5rem;
        }

    }
}