@use '../base/variables';

select {
    width: 100%;
    overflow: hidden;

    padding: 5px;
    font-size: 16px;
    background-color: variables.$color--background;

    border: 2px solid variables.$color--container-border;
    border-radius: 4px;
    box-shadow: 3px 3px 0px 0px variables.$color--container-box-shadow;
}

input:not([type='checkbox']) {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    background-color: variables.$color--background;

    border: 2px solid variables.$color--container-border;
    border-radius: 4px;
    box-shadow: 3px 3px 0px 0px variables.$color--container-box-shadow; 
}

input[type='checkbox'] {
    cursor: pointer;
    margin-right: 8px;
    accent-color: variables.$color--container-border;
    background-color: variables.$color--background;
    border: 2px solid variables.$color--container-border;
    border-radius: 4px;
    box-shadow: 3px 3px 0px 0px variables.$color--container-box-shadow;
}
