@use '../base/variables';

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: var(--container-padding, 0 20px);
    overflow: hidden;

    border: 2px solid variables.$color--conatiner-border;
    border-radius: 4px;
    box-shadow: 3px 3px 0px 0px variables.$color--container-box-shoadow;

    //background-color: #e0f7fa;
    //transform: rotate(-0.1deg);
}