@use '../base/variables';

body {
    background-color: variables.$color--background;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}